## if/else 선언

In [ ]:
height = 180
if height > 175:
	print("175cm 이상입니다. 탑승하세요")
else:
	print("고객님은 탑승할 수 없습니다.")

175cm 이상입니다. 탑승하세요

## elif 추가

In [ ]:
height = 170
if height > 175:
	print("175cm 이상입니다. 탑승하세요")
elif height > 165:
  print("부모님과 탑승하세요.")
else:
	print("고객님은 탑승할 수 없습니다.")

부모님과 탑승하세요.

## if문 중첩

In [ ]:
height = 170
with_parent = True
if height > 175:
	print("175cm 이상입니다. 탑승하세요")
elif height > 165:
  if with_parent:
    print("부모님과 탑승하세요.")
  else:
    print("부모님을 모셔오세요.")
else:
	print("고객님은 탑승할 수 없습니다.")

부모님과 탑승하세요.

## 한 줄 조건문

In [ ]:
height = 180
print("175cm 이상입니다. 탑승하세요.") if height > 175 else print("탑승할 수 없습니다.")

175cm 이상입니다. 탑승하세요.

## while 반복문

In [ ]:
a = 3
b = []
while a:
  a -= 1
  b.append(a)
  print(a)
print(b)

2
1
0
[2, 1, 0]

## continue 제어

In [ ]:
a = 3
b = []
while a:
	a -= 1
	if a == 2:
		continue
	b.append(a)
	print(a)
print(b)

1
0
[1, 0]

## break 제어

In [ ]:
a = 5
b = []
while a:
	a -= 1
	if a == 1:
		break
	b.append(a)
	print(a)
print(b)

4
3
2
[4, 3, 2]

## 반복문 활용

In [ ]:
a = 10
b = []
while a:
	if a == 2:
		break
	elif a % 2 == 1:
		a -= 1
		continue
	else:
		b.append(a)
		a -= 1
		print(a)
print(b)

9
7
5
3
[10, 8, 6, 4]

## 리스트 순회

In [ ]:
a = [1, 2, 3, 4, 5, 6, 7, 8]
for number in a:
		print(number)

1
2
3
4
5
6
7
8

## 딕셔너리 순회

In [ ]:
dic = {"수학": 100, "영어": 90}
for key, val in dic.items():
		if val == 100:
			print(key, val, "굳굳")
		else:
			print(key, val, "분발하세요!")

수학 100 굳굳
영어 90 분발하세요!

## range 함수 활용 반복문

In [ ]:
for val in range(1, 10, 1):
	if val % 2 == 0:
			print(val, "-> 짝수입니다.")

2 -> 짝수입니다.
4 -> 짝수입니다.
6 -> 짝수입니다.
8 -> 짝수입니다.

## enumerate 활용 반복문

In [ ]:
subjects = ["수학", "영어", "국어"]
for index, val in enumerate(subjects):
	print(index, val)

0 수학
1 영어
2 국어

## zip 활용 반복문

In [ ]:
subjects = ["수학", "영어", "국어", "탐구"]
scores = [100, 90, 80]
for subj, scr in zip(subjects, scores):
	print(subj, scr)

수학 100
영어 90
국어 80

## zip 활용 딕셔너리화

In [ ]:
subjects = ["수학", "영어", "국어", "탐구"]
scores = [100, 90, 80]
to_dict = dict(zip(subjects, scores))
print(to_dict)

{'수학': 100, '영어': 90, '국어': 80}

## 리스트 내포

In [ ]:
ls = [num*10 for num in range(1, 8)]
print(ls)

[10, 20, 30, 40, 50, 60, 70]

## 리스트 내포 조건문

In [ ]:
ls = [num*10 for num in range(1, 6) if num % 2 == 0]
print(ls)

[20, 40]