## 함수의 정의

In [ ]:
def data_science():
	print("python")
data_science()

python

## 함수 선언 및 실행

In [ ]:
def data_science(print_sentence):
    print(print_sentence)
string = "매개변수로 전달된 문자열 출력"
data_science(string)

매개변수로 전달된 문자열 출력

In [ ]:
def minus(num1=3, num2=2):
    print(num1-num2)
minus(2)

0

## 디폴트 파라미터

In [ ]:
def minus(num1=3, num2=2, num3):
    print(num1-num2-num3)

minus(5)

SyntaxError: ignored

In [ ]:
def minus(num3, num1=3, num2=2):
    print(num1-num2-num3)

minus(5)

-4

## 키워드 아규먼트

In [ ]:
def minus(num1, num2):
    print(num1-num2)

minus(2, 3)
minus(num2=3, num1=2)

-1
-1

## return

In [ ]:
# 리턴이 없는 함수
def no_return():
    a = 1 + 2
result = no_return()
print(result)

None

In [ ]:
# 리턴이 있는 함수
def plus(a, b):
    return a + b
result = plus(1, 2)
print(result)

3

## *args

In [ ]:
def print_args(*args):
    print(args)
    print(args[4])
    print(args[5][1])

print_args(1, 2, 3, "deep", "learning", ["artificial", "intelligence"])

(1, 2, 3, 'deep', 'learning', ['artificial', 'intelligence'])
learning
intelligence

In [ ]:
def avg_func(*args):
    return sum(args) / len(args)
a = avg_func(100, 70, 80, 99, 85, 60, 80)
print("avg : {}".format(round(a, 2)))

avg : 82.0

## **kwargs

In [ ]:
def avg_func(**kwargs):
    print(kwargs)
    total=0
    count=0
    for subject, point in kwargs.items():
        print(subject, point)
        total += point
        count += 1
    return total / count
a = avg_func(korean=100, english=70, math=80, science=90)
print("avg : {}".format(round(a, 2)))

{'korean': 100, 'english': 70, 'math': 80, 'science': 90}
korean 100
english 70
math 80
science 90
avg : 85.0

## \**args, ***kwargs

In [ ]:
def test_func(*args, **kwargs):
    print(args)
    print(kwargs)

test_func(1, 2, 3, "deepandhigh", "python", korean=100, english=70, math=80)

(1, 2, 3, 'deepandhigh', 'python')
{'korean': 100, 'english': 70, 'math': 80}

## 전역변수

In [ ]:
gv = 10
def print_gv():
    print(gv)

print_gv()

10

## 전역 / 지역 변수

In [ ]:
gv1, gv2 = 1, 2
def print_variable():
    gv1 = 10
    gv2 = 20
    print(gv1, gv2)
    return gv1, gv2

print_variable()
print(gv1, gv2)

10 20
1 2

## global 변수 접근

In [ ]:
gv=12
def change_gv(data):
    global gv
    gv=data

print(gv)
change_gv(100)
print(gv)

12
100

## 일반적 함수 선언

In [ ]:
def sum_func(x, y):
    return x + y
sum_func(5, 6)

11

## 람다 함수 선언

In [ ]:
sum_func2 = lambda x, y : x + y
sum_func2(5, 6)

11